@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,700&display=swap");
@import url("../lib/fontawesome/css/all.min.css");

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    scroll-behavior: smooth;
}

:root {
    /* Color styles */
    --text: rgba(5, 3, 21, 1);
    --background: rgba(251, 251, 254, 1);
    --accent: rgba(47, 60, 126, 1);
    --neutral-base: rgb(208, 210, 221);
    --neutral-400: rgba(240, 240, 245, 1);
    --neutral-600: rgba(199, 202, 215, 1);
    --primary-base: rgba(16, 24, 32, 1);
    --primary-600: rgba(13, 19, 26, 1);
    --primary-700: rgba(10, 14, 19, 1);
    --primary-800: rgba(6, 10, 13, 1);
    --primary-400: rgba(23, 34, 46, 1);
    --primary-300: rgba(30, 44, 59, 1);
    --primary-200: rgba(36, 55, 73, 1);
    --primary-100: rgba(112, 116, 121, 1);
    --primary-50: rgba(136, 140, 144, 1);
    --accent-base: #ff9d4c;
    --accent-600: #d3813d;
    --accent-700: #a7652e;
    --accent-800: #7b481e;
    --accent-400: #ffb170;
    --accent-300: #ffc494;
    --accent-200: #ffd8b7;
    --accent-150: #ffe2c9;
    --accent-100: #ffebdb;
    --accent-50: #fff5ed;

    /* Text-size styles */
    /* base size: type--md (16px) */
    --type-xs: 0.62rem;
    --type-sm: 0.81rem;
    --type-md: 1rem;
    --type-lg: 1.25rem;
    --type-xl: 1.56rem;
    --type-hero-sm: 1.94rem;
    --type-hero-md: 2.44rem;
    --type-hero-lg: 3.06rem;
    --type-hero-xl: 3.81rem;

    --sidebar-width: 12rem;
    --max-width: 90rem;
    --gap: 1rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    position: relative;
    background-color: var(--accent-50);
    display: flex;
    /* gap: var(--gap); */
    max-height: 100dvh;
    height: 100dvh;
    overflow-y: hidden;
}

.main-container {
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
    isolation: isolate;
}

#main {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    max-width: min(var(--max-width), 100%);
    margin-inline: auto;
    min-height: 100dvh;
    padding: 1rem 2rem var(--gap);
}

p,
h1 {
    margin: 0;
    padding: 0;
}

.btn-primary {
    border: 0;
    color: white;
    padding: 0.65em 1em;
    border-radius: 0.25em;
    font-size: var(--type-md);
    background-color: var(--primary-300);
    transition: 0.3s ease;
}

.btn-primary:where(:hover, :focus) {
    background-color: var(--primary-base);
}

a,
button,
.link {
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    border: 0;
}

.brand {
    color: var(--primary-base);
    font-weight: bolder;
}

.brand > strong {
    color: var(--accent-base);
}

[hidden] {
    display: none !important;
}

.accent {
    color: var(--accent-base);
}

.capitalize {
    text-transform: capitalize;
}

.table-container {
    width: 100%;
    background-color: white;
    overflow: hidden;
    padding: 0;
    border-radius: 0.25rem;
    /* border: 1px solid rgb(0 0 0 / 0.5); */
    overflow-x: auto;
    /* overflow-y: clip; */
}

.table-container table {
    border-collapse: collapse;
    min-width: 100%;
}

th,
td,
tr {
    border-collapse: collapse;
    border: 1px solid rgb(0 0 0 / 0.5);
}

th,
td {
    padding: 0.5rem;
}

td:first-child {
    text-align: center;
}

table tbody tr:nth-of-type(odd) {
    background-color: var(--neutral-400);
}

.optional::after {
    content: "(?)";
    margin-left: 0.5rem;
    /* position: absolute;
    right: 0;
    top: 0; */
    color: var(--accent-600);
}

.tb-action {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    gap: 1rem;
    position: relative;
}

.action-btn {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    color: white;
    font-size: var(--type-sm);
    transition: 0.3s ease;
}

/* .action-btn:is(:focus, :hover) {
} */

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:is(:hover, :focus) {
    background-color: hsl(354, 70%, 40%);
}

.popover {
    position: absolute;
    padding: 0.5rem 1rem;
    background-color: white;
    box-shadow: 0 0 2rem 0 rgb(0 0 0 / 0.3);
    border-radius: 0.25rem;
    bottom: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    right: 100%;
}

.hide {
    display: none !important;
}

[data-action-popover] {
    position: relative;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 13rem;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: -1;
    filter: brightness(0.5);
    overflow: hidden;
}

.action-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);
}

.input[readonly] {
    cursor: not-allowed;
    color: #ccc;
}
