body {
    max-height: 100vh;
    height: 100dvh;
    /* max-width: 100dvw; */
    background-color: var(--neutral-base);
    display: grid;
    place-items: center;
    /* background-image: url("../assets/login-bg.jpg"); */
    background-size: cover;
    background-position: center center;
}

#main {
    --brightness: 0.75;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    /* backdrop-filter: brightness(var(--brightness)); */
    transition: 0.3s ease;
}

#main:has(.input:focus) {
    --brightness: 0.35;
}

#loginForm {
    width: min(100%, 30rem);
    /* height: 80dvh; */
    /* aspect-ratio: 5 / 4; */
    aspect-ratio: 10/12;
    border-radius: 0.25rem;
    overflow: hidden;
    background-color: white;
    padding: 3rem 2rem;
    display: flex;
    /* gap: 3rem; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

#loginForm .head {
    display: grid;
    place-items: center;
    font-size: var(--type-hero-sm);
    padding-block: 1rem;
}

.login-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content; */
    display: flex;
    /* gap: 2rem; */
    width: 70%;
    justify-content: center;
    align-items: center;
    isolation: isolate;
}

.login-banner {
    background-color: var(--primary-100);
    width: min(100%, 30rem);
    /* height: 100%; */
    aspect-ratio: 10/12;
    /* display: none; */
    filter: brightness(0.7);
    border-radius: 0.2rem 0 0 0.2rem;
    background-image: url("../assets/login-banner.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: -1;
    /* transform: translateX(100%); */
}

.form-body {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

label {
    font-size: var(--type-lg);
}

.input {
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: var(--type-md);
    border-radius: 0 0.25rem 0.25rem 0;
    border: none;
    outline: none;
    background-color: #eee;
    border-left: 6px solid var(--accent-base);
    transition: 0.3s ease;
}

.input:focus {
    background-color: #dfdfdf;
    border-left-color: var(--accent-600);
}

#loginForm .actions {
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}
.actions button {
    width: 100%;
    letter-spacing: 1px;
}

.actions p {
    font-size: var(--type-sm);
    margin-top: 0.5rem;
    opacity: 0.75;
}
