#print-layer table {
    width: 100%;
}

#print-layer :is(table, tr, td) {
    border-collapse: collapse;
}

#print-layer table tr {
    background-color: transparent;
}

#print-layer table th {
    font-weight: normal;
}

#print-layer table td {
    padding: 0.15rem;
}

#print-layer {
    position: fixed;
    width: 100dvw;
    /* min-height: 100dvh; */
    inset: 0;
    background-color: white;
    z-index: 1000;
    display: none;
}

.print-head {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
    border-bottom: 2px solid black;
}

@media print {
    @page {
        size: landscape;
    }

    #print-layer {
        display: block;
        overflow-y: visible !important;
    }

    #print-layer table {
        page-break-after: always;
    }

    /* body {
        writing-mode: vertical-rl;
    } */
}
