h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    display: block;
    background-color: white;
    margin: 0.5rem;
    height: auto;
    overflow-y: auto !important;
}

#print-layer table {
    width: 100%;
}

#print-layer :is(table, tr, td) {
    border-collapse: collapse;
}

#print-layer table tr {
    background-color: transparent;
}

#print-layer table th {
    font-weight: normal;
}

#print-layer table td {
    padding: 0.15rem;
}

#print-layer {
    position: fixed;
    width: 100dvw;
    /* min-height: 100dvh; */
    inset: 0;
    background-color: white;
    z-index: 1000;
    display: none;
}

.print-head {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
    border-bottom: 2px solid black;
}

@media print {
    @page {
        size: landscape;
    }

    #print-layer {
        display: block;
        overflow-y: visible !important;
    }

    #print-layer table {
        page-break-after: always;
    }

    /* body {
        writing-mode: vertical-rl;
    } */
}

.header {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    border-bottom: 2px solid rgb(0 0 0 / 0.2);
    width: 100%;
}

.brand {
    font-size: 2.5rem;
    font-weight: bold;
}

.head-text .name {
    font-weight: bold;
    font-size: 1.2rem;
}

#tablePrint {
    margin-inline: auto;
    margin-block: 2rem;
}

#tablePrint tr {
    background-color: white;
}

.outlet {
    background-color: var(--accent-base);
    /* color: white; */
}
