.status-edit-btn {
    padding: 0.25rem 0.5rem;
    /* margin-left: 0.25rem; */
    /* background-color: #d1ecf1; */
    font-size: var(--type-md);
    transition: 0.1s ease;
    margin-left: auto;
    background-color: transparent;
    border-radius: 0.25rem;
}

.status-edit-btn:is(:hover, :focus) {
    color: var(--accent-700);
    transform: scale(1.05);
}

.btn-accent {
    background-color: var(--accent-base);
}

.btn-accent:is(:hover, :focus) {
    background-color: var(--accent-600);
}

.tb-action > * {
    padding: 0.5rem;
    text-align: center;
}

.filter-member-hide,
.filter-outlet-hide,
.filter-name-hide {
    display: none;
}

.td-info {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    gap: 1rem;
}

/* .td-info span {
    margin-inline: auto;
} */

/* .td-info :first-child {
    min-width: 5rem;
    text-align: center;
    flex-grow: 1;
} */
tr {
    background-color: white !important;
}
tr:has(.warning) {
    background-color: #ffdde1 !important;
}

.warning {
    color: var(--accent-base);
    margin-right: 0.5rem;
}

/* #pagination {
    margin-top: auto;
} */
